record(bi, "$(SYSTEM):isAlarm")
{
	field(DESC, "Reads Radiation monitors Alarms")
	field(SCAN, "1 second")
	field(DTYP, "EtherIP")
	field(INP,  "@$(PLC) $(TAG) S 1")
	field(PINI, "YES")
	field(ZNAM, "ALARM")    field(ZSV,  "MAJOR")
	field(ONAM, "NO ALARM") field(OSV,  "NO_ALARM")
}
